.clickable {
    cursor: pointer;
    background-color: #c1ff7b;
}

.selected {
    background-color: rgb(75, 163, 109);
}

.rotate-border {
    position: relative;
    /* display: inline-block;
    width: 200px;
    height: 200px; */
    border: 2px dashed transparent;
    border-radius: 0%;
    animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
    0% {
        /* transform: rotate(0deg); */
        border-color: transparent;
    }

    100% {
        /* transform: rotate(360deg); */
        border-color: red;
    }
}

.test {
    background-color: #6aff00b3;
}
